circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

.foot { display: none; }

#credits {
  bottom:     0;
  width:      240px;
  left:       -260px;
  position:   absolute;
  text-align: right;
}

.sidebar {
  height:           110px;
  background-size:  100%;
  background-image: url("gfx/misc/recettear-title.png");
  color:            transparent;
}

.items {
  margin:     8px 0;
  width:      736px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*
.item {
  float:      left;
  display:    block;
  margin:     0 2px 7px;
  width:      32px;
  height:     32px;
  padding:    12px 15px 12px 14px;
  background: url("gfx/misc/badge.png") no-repeat;
  position:   relative;
  color:      transparent;
}

.item .icon {
  width:  32px;
  height: 32px;
}

.item label {
  position:    absolute;
  left:        30px;
  bottom:      -10px;
  white-space: nowrap;
}

.item:focus label {
  color: #000;
}
*/

.clearfix:after {
  visibility: hidden;
  display:    block;
  clear:      both;
  content:    ".";
  height:     0;
}


/* horizontal character selection bar */
.characters, .dungeons {
  margin:  0;
  padding: 0;
  height:  80px;
}
.dungeons {
  height:  120px;
}

.characters li, .dungeons li {
  float:            left;
  display:          block;
  list-style-image: none;
  width:            80px;
  height:           80px;
}
.dungeons li, .dungeons li a {
  display:          block;
  width:            120px;
  height:           120px;
}
.dungeons li {
  background-image: url("gfx/misc/dungeons.png");
}

.characters li.selected {
  background:       url("gfx/misc/avatar-bg.png");
}
.characters li.selected :hover {
  background-color: transparent;
}

.characters a {
  display:          block;
  float:            left;
  width:            80px;
  height:           80px;
  background-color: transparent;
  color:            transparent;
  text-align:       center; /* center name */
  line-height:      160px;  /* below image */
}

.characters a:focus {
  color: #000;
}

.character a {
  background-image: url("gfx/misc/avatars.png");
}

.dungeons a {
  display:          block;
  float:            left;
  width:            120px;
  height:           120px;
  background-color: transparent;
  color:            transparent;
  text-align:       center; /* center name */
  line-height:      240px;  /* below image */
  overflow-y:       hidden;
}

.dungeons a:focus {
  color: #000;
}

/* "item X appears in a chest of dungeon Y" */
.dungeon.chest a {
  background: url("gfx/misc/chest.png") no-repeat bottom right;
}
/* sub-ideal; there's cognitive dissonance when you select a dungeon,
 * hover an item that isn't in that dungeon's chests, and the icon is
 * still lit. Any graphics artists out there that want to improve this? */
.dungeon.selected a {
  background: url("gfx/misc/chest.png") no-repeat bottom right;
}



.Anyone, .Anyone:hover {
  background-image:    none;
  background-color:    #DDD;
}

/* Louie */
.user.ch00, .ch00:hover {
  background-color:    #B3A66F;
}

/* Charme */
.user.ch01, .ch01:hover {
  background-color:    #87849A;
}
.characters .ch01 {
  background-position: -80px 0;
}

/* Caillou */
.user.ch02, .ch02:hover {
  background-color:    #809486;
}
.characters .ch02 {
  background-position: -160px 0;
}

/* Tielle */
.user.ch03, .ch03:hover {
  background-color:    #DC8659;
  background-position: -240px 0;
}
.characters .ch03 {
  background-position: -240px 0;
}

/* Elan */
.user.ch04, .ch04:hover {
  background-color:    #836C3D;
}
.characters .ch04 {
  background-position: -320px 0;
}

/* Nagi */
.user.ch05, .ch05:hover {
  background-color:    #7E6051;
}
.characters .ch05 {
  background-position: -400px 0;
}

/* Griff */
.user.ch06, .ch06:hover {
  background-color:    #42373D;
}
.characters .ch06 {
  background-position: -480px 0;
}

/* Arma */
.user.ch07, .ch07:hover {
  background-color:    #5F6934;
}
.characters .ch07 {
  background-position: -560px 0;
}
